{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

<h1>{{ title }}</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cum dignissimos ipsum iusto, molestiae
    perspiciatis quis ratione reiciendis! Aliquam aliquid architecto assumenda, autem dignissimos earum ex expedita,
    illum impedit iste magni officiis quod repellendus sequi, totam ut voluptas voluptatibus voluptatum.</p>

<p>Ad asperiores beatae blanditiis cupiditate delectus deleniti dolor doloremque doloribus dolorum expedita fuga fugit
    illum in ipsam iusto maxime minus molestias nam nemo nostrum officiis optio perferendis possimus quam quia
    recusandae reiciendis repellendus sunt, voluptate voluptatibus! Aspernatur culpa cupiditate quidem.</p>

{% endblock %}